.mainBorder{
    border: 2px solid green;
    width: 800px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
}
.heading{
    /* margin-left:50px; */
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Algerian;
}
.myImage img{
    width: 200px;
    margin-left: 580px;
    border: 1px solid black;
    border-radius: 50px;

}

